@use '../tech-tree-filter';
@use '../tech-tree-item/tech-tree-item';
@use '../../../shared-styles/lib/alignment';
@use '../../../shared-styles/lib/border';
@use '../../../shared-styles/lib/breakpoint';
@use '../../../shared-styles/lib/color';
@use '../../../shared-styles/lib/font';
@use '../../../shared-styles/lib/spacing';

.tech-tree-filter-tags {
  background-color: color.$bg-color-light;
  border-radius: border.$border-radius-medium;

  overflow-y: auto;

  @include breakpoint.for-phone-only {
    padding: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-tablet-portrait-up {
    padding: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-1080p-up {
    padding: spacing.calc-padding(spacing.$padding-medium);
  }
}

.tags-top-bar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;

  margin-top: spacing.calc-vertical-margin(spacing.$vertical-margin-small);
  margin-bottom: spacing.calc-vertical-margin(spacing.$vertical-margin-small);

  width: 100%;
}

.tags-title {
  flex: auto;

  font-weight: 600;

  @include breakpoint.for-tablet-portrait-up {
    font-size: font.calc-font-size(font.$font-size-4);
  }

  @include breakpoint.for-tablet-landscape-up {
    font-size: font.calc-font-size(font.$font-size-base);
  }
}

.tags-reset-button {
  @include tech-tree-filter.tech-tree-filter-button;

  flex: 0 max-content;

  color: color.$white;
  border: border.$border-thickness-tiny solid color.$transparent;

  font-size: font.calc-font-size(font.$font-size-4);

  @include breakpoint.for-phone-only {
    font-size: font.calc-font-size(font.$font-size-8);
  }
}

.tags-type-title {
  padding: spacing.calc-padding(spacing.$padding-small);

  @include breakpoint.for-tablet-portrait-up {
    font-size: font.calc-font-size(font.$font-size-4);
  }

  @include breakpoint.for-tablet-landscape-up {
    font-size: font.calc-font-size(font.$font-size-6);
  }
}

.tags-buttons {
  display: grid;
  gap: 10px;

  padding: spacing.calc-padding(spacing.$padding-tiny);
  margin-top: spacing.calc-vertical-margin(spacing.$vertical-margin-tiny);

  overflow-y: auto;

  @include breakpoint.for-phone-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint.for-tablet-portrait-up {
    grid-template-columns: repeat(1, 1fr);
  }

  @include breakpoint.for-tablet-landscape-up {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tags-button {
  @include tech-tree-filter.tech-tree-filter-button;

  display: grid;
  @include alignment.grid-alignment-center;

  font-size: font.calc-font-size(font.$font-size-4);

  @include breakpoint.for-phone-only {
    font-size: font.calc-font-size(font.$font-size-8);
  }

  &.tag-on {
    border: border.$border-thickness-tiny solid border.$border-primary-color-amber;
  }
}

.kind-tags {
  .tags-button {
    &:nth-child(1) {
      border-left: border.$border-thickness-medium solid tech-tree-item.$tech-tree-color-unit;
    }

    &:nth-child(2) {
      border-left: border.$border-thickness-medium solid tech-tree-item.$tech-tree-color-tech;
    }

    &:nth-child(3) {
      border-left: border.$border-thickness-medium solid tech-tree-item.$tech-tree-color-building;
    }
  }
}

.unique-tags {
  .tags-button {
    &:nth-child(1) {
      border-left: border.$border-thickness-medium solid tech-tree-item.$tech-tree-color-unique;
    }
  }
}
