@use '../../shared-styles/lib/alignment';
@use '../../shared-styles/lib/breakpoint';
@use '../../shared-styles/lib/button';
@use '../../shared-styles/lib/font';

.civ-pool-settings-title {
  text-align: center;
}

.civ-pool-settings.civ-pool-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include alignment.grid-alignment-center;

  @include breakpoint.for-phone-only {
    font-size: font.calc-font-size(font.$font-size-6);
  }

  @include breakpoint.for-1080p-up {
    width: 80%;
    margin: auto;
  }

  .add-all-civs-button,
  .reset-pool-button,
  .invert-pool-button {
    @include button.button-base(filled-primary);

    @include breakpoint.for-tablet-portrait-up {
      width: 80%;
    }
  }
}
