@import '../../shared-styles/lib';

.civ-draft-parameters-separator {
  margin-top: calc-vertical-margin($vertical-margin-medium);
}

.civ-parameters-title {
  text-align: center;
}

.civ-draft-parameters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include grid-alignment-center;

  @include for-desktop-up {
    width: 80%;
    margin: auto;
  }

  .button {
    cursor: pointer;
    padding: calc-padding($padding-medium);

    text-align: center;

    color: $button-letter-color;
    background-color: $button-outline-bg-color;

    border-radius: $border-radius-medium;

    &:hover {
      background-color: $button-outline-bg-color-hover;
    }

    &:active {
      background-color: $button-outline-bg-color-active;
      border: $border-thickness-tiny solid $primary-color-amber-dark;
    }

    @include for-tablet-portrait-up {
      width: 80%;
    }
  }
}
