@use '../../../shared-styles/lib/border';
@use '../../../shared-styles/lib/breakpoint';
@use '../../../shared-styles/lib/button';
@use '../../../shared-styles/lib/color';
@use '../../../shared-styles/lib/font';
@use '../../../shared-styles/lib/spacing';

.auth-modal-container {
  display: flex;
  flex-direction: column;
}

.auth-input-container {
  padding: spacing.calc-padding(spacing.$padding-small);
}

.auth-modal-input {
  height: 60px;

  color: color.$white;
  background-color: color.$black;

  font-size: font.calc-font-size(font.$font-size-8);

  margin-bottom: spacing.calc-vertical-margin(spacing.$vertical-margin-medium);
  padding: spacing.calc-padding(spacing.$padding-small);

  border: none;
  border-radius: border.$border-radius-medium;

  &:focus {
    outline: 0;
    border: border.$border-thickness-tiny solid border.$border-primary-color-amber;
  }

  &::placeholder {
    color: color.$white;
    opacity: 0.75;
  }

  width: 80vw;

  @include breakpoint.for-tablet-landscape-up {
    width: 60vw;
  }

  @include breakpoint.for-1080p-up {
    width: 400px;
  }
}

.auth-error {
  color: color.$primary-color-red-light;

  width: 80vw;

  @include breakpoint.for-tablet-landscape-up {
    width: 60vw;
  }

  @include breakpoint.for-1080p-up {
    width: 400px;
  }
}

.auth-button {
  @include button.button-base(filled-primary);

  margin-top: spacing.calc-vertical-margin(spacing.$vertical-margin-large);
  font-size: font.calc-font-size(font.$font-size-12);
}
