@import '../../../shared-styles/lib';

.auth-modal-container {
  display: flex;
  flex-direction: column;
}

.auth-input-container {
  padding: calc-padding($padding-small);
}

.auth-modal-input {
  height: 60px;

  color: $white;
  background-color: $black;

  font-size: calc-font-size($font-size-8);

  margin-bottom: calc-vertical-margin($vertical-margin-medium);
  padding: calc-padding($padding-small);

  border: none;
  border-radius: $border-radius-medium;

  &:focus {
    outline: 0;
    border: $border-thickness-tiny solid $border-primary-color-amber;
  }

  &::placeholder {
    color: $white;
    opacity: 0.75;
  }

  width: 80vw;

  @include for-tablet-landscape-up {
    width: 60vw;
  }

  @include for-1080p-up {
    width: 400px;
  }
}

.auth-error {
  color: $primary-color-red-light;

  width: 80vw;

  @include for-tablet-landscape-up {
    width: 60vw;
  }

  @include for-1080p-up {
    width: 400px;
  }
}

.auth-button {
  @include button-base(filled-primary);

  margin-top: calc-vertical-margin($vertical-margin-large);
  font-size: calc-font-size($font-size-12);
}
