@use '../../shared-styles/lib/alignment';
@use '../../shared-styles/lib/breakpoint';

.draft-civ {
  display: grid;
  grid-template-rows: 1fr 1fr;
  @include alignment.grid-alignment-center;

  @include breakpoint.for-phone-only {
    height: 220px;
    align-items: baseline;
  }

  @include breakpoint.for-tablet-portrait-up {
    height: 260px;
  }

  @include breakpoint.for-4k-up {
    height: 310px;
  }
}
