@import '../../shared-styles/lib';

.save-civ-pool-button-container {
  height: 130px;
  text-align: center;

  @include for-phone-only {
    height: 75px;
  }

  .save-civ-pool-button {
    @include button-base(filled);

    margin-left: auto;
    margin-right: auto;

    &:active {
      border: $border-thickness-tiny solid $primary-color-amber-dark;
    }

    @include for-tablet-portrait-up {
      width: 80%;
    }
  }
}
