@import '../../shared-styles/lib';

.save-civ-pool-button-container {
  height: 130px;
  text-align: center;

  @include for-phone-only {
    height: 75px;
  }

  .save-civ-pool-button {
    cursor: pointer;
    padding: calc-padding($padding-medium);

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: $button-letter-color;
    background-color: $button-filled-bg-color;

    border-radius: $border-radius-medium;

    &:hover {
      background-color: $button-filled-bg-color-hover;
    }

    &:active {
      background-color: $button-filled-bg-color-active;
      border: $border-thickness-tiny solid $primary-color-amber-dark;
    }

    @include for-tablet-portrait-up {
      width: 80%;
    }
  }
}
