@use '../../shared-styles/lib/border';
@use '../../shared-styles/lib/box-shadow';
@use '../../shared-styles/lib/breakpoint';
@use '../../shared-styles/lib/button';
@use '../../shared-styles/lib/color';
@use '../../shared-styles/lib/font';
@use '../../shared-styles/lib/spacing';

$tech-tree-filter-border-thickness: border.$border-thickness-small;
$tech-tree-filter-border-color: rgba(color.$black, 0.5);

@mixin tech-tree-filter-button {
  @include button.button-base(
    $type: filled-light,
    $padding: spacing.$padding-small,
    $box-shadow: false
  );
}

.tech-tree-filter-title {
  text-align: center;
}

.tech-tree-filter-container {
  margin-top: spacing.calc-vertical-margin(spacing.$vertical-margin-ludicrous);
}

.tech-tree-filter-panels-container {
  display: grid;
  grid-template-columns: 3fr 6fr 5fr;
  gap: 30px;

  width: 90vw;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;

  @include box-shadow.box-shadow(
    $size: box-shadow.$box-shadow-small,
    $isInteractive: false
  );
  border-radius: border.$border-radius-medium;
  padding: spacing.calc-padding(spacing.$padding-medium);

  @include breakpoint.for-phone-only {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);

    height: max-content;
  }
}

.tech-tree-filter-panel-header {
  margin-top: spacing.calc-vertical-margin(spacing.$vertical-margin-tiny);
  margin-bottom: 0;
  text-align: center;
}

.tech-tree-filter-panel-border {
  @include breakpoint.for-tablet-landscape-up {
    padding-right: spacing.calc-padding(spacing.$padding-giant);
    border-right: solid 1px color.$primary-color-amber;
  }
}

.tech-tree-filter-options-panel {
  display: grid;
  grid-template-rows: auto 100px min-content auto;
  height: calc(82vh - 3px);
  gap: 20px;
}

.tech-tree-filter-items-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 82vh;
  padding-bottom: spacing.calc-padding(spacing.$padding-tiny);
}

.tech-tree-filter-matching-civs-panel {
  height: calc(82vh - 36px);
}

.tech-tree-filter-selected-items,
.tech-tree-filter-unselected-items {
  display: grid;
  justify-items: center;
  align-content: flex-start;
  row-gap: spacing.calc-vertical-margin(spacing.$vertical-margin-large);

  text-align: center;

  background-color: color.$bg-color-light;
  border-radius: border.$border-radius-medium;

  &.empty-filter {
    display: block;
    text-align: center;
  }

  @include breakpoint.for-phone-only {
    grid-template-columns: repeat(5, 1fr);
  }

  @include breakpoint.for-tablet-portrait-up {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint.for-tablet-landscape-up {
    grid-template-columns: repeat(5, 1fr);
  }

  @include breakpoint.for-1080p-up {
    grid-template-columns: repeat(6, 1fr);
  }

  @include breakpoint.for-4k-up {
    grid-template-columns: repeat(7, 1fr);
  }
}

.tech-tree-filter-selected-items {
  flex: 1 1 min-content;
  padding-top: spacing.calc-padding(spacing.$padding-medium);
  padding-bottom: spacing.calc-padding(spacing.$padding-medium);

  .selected-items-placeholder {
    width: 100%;
    padding: spacing.calc-padding(spacing.$padding-large);

    @include breakpoint.for-tablet-portrait-up {
      font-size: font.calc-font-size(font.$font-size-6);
    }

    @include breakpoint.for-tablet-landscape-up {
      font-size: font.calc-font-size(font.$font-size-base);
    }
  }
}

.tech-tree-filter-unselected-items {
  flex: 1 1 min-content;

  padding-bottom: spacing.calc-padding(spacing.$padding-medium);
  padding-top: spacing.calc-padding(spacing.$padding-medium);

  overflow-y: auto;

  .unselected-items-placeholder {
    width: 100%;
    padding: spacing.calc-padding(spacing.$padding-ludicrous);
  }
}
