@import '../../shared-styles/lib';

.tech-tree-filter-container {
  margin-top: calc-vertical-margin($vertical-margin-ludicrous);

  @include for-phone-only {
    display: none;
  }
}

.tech-tree-filter-panels-container {
  display: grid;
  grid-template-columns: 2fr 6fr 5fr;

  width: 90vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;

  border: $border-thickness-small solid $border-neutral-color;
  border-radius: $border-radius-medium;
}

.tech-tree-filter-settings-panel {
  display: grid;
  grid-template-rows: 100px 200px auto;
  height: calc(90vh - 3px);

  border-right: $border-thickness-small solid $border-neutral-color;
}

.tech-tree-filter-items-panel {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-bottom: calc-padding($padding-tiny);
}

.tech-tree-filter-selected-items,
.tech-tree-filter-unselected-items {
  display: grid;
  @include grid-alignment-center;
  align-content: space-between;

  text-align: center;

  @include for-phone-only {
    grid-template-columns: repeat(3, 1fr);
  }

  @include for-tablet-portrait-up {
    grid-template-columns: repeat(3, 1fr);
  }

  @include for-1080p-up {
    grid-template-columns: repeat(5, 1fr);
  }

  @include for-4k-up {
    grid-template-columns: repeat(7, 1fr);
  }
}

.tech-tree-filter-selected-items {
  flex: 1 1 15%;
  padding-top: calc-padding($padding-medium);
  padding-bottom: calc-padding($padding-medium);
  border-bottom: $border-thickness-small solid $border-neutral-color;

  &.empty-filter {
    display: block;
    text-align: center;
  }

  & .selected-items-placeholder {
    width: 100%;
    height: 100px;
    padding: calc-padding($padding-giant);
  }
}

.tech-tree-filter-unselected-items {
  flex: 1 1 auto;

  padding-bottom: calc-padding($padding-medium);
  padding-top: calc-padding($padding-medium);

  overflow-y: auto;
}

.tech-tree-filter-staging-panel {
  height: calc(90vh - 3px);
  border-left: $border-thickness-small solid $border-neutral-color;
}
