@use '../tech-tree-filter';
@use '../../../shared-styles/lib/alignment';
@use '../../../shared-styles/lib/border';
@use '../../../shared-styles/lib/breakpoint';
@use '../../../shared-styles/lib/button';
@use '../../../shared-styles/lib/color';
@use '../../../shared-styles/lib/font';
@use '../../../shared-styles/lib/spacing';

.matching-civs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.matching-civs-header {
  background-color: color.$bg-color-light;
  border-radius: border.$border-radius-medium;
  margin-top: spacing.calc-vertical-margin(spacing.$vertical-margin-medium);
  margin-bottom: spacing.calc-vertical-margin(spacing.$vertical-margin-medium);
  padding-top: spacing.calc-padding(spacing.$padding-medium);
  padding-bottom: spacing.calc-padding(spacing.$padding-medium);
}

.matching-civs-stats {
  text-align: center;

  .matched-civs-number {
    color: color.$primary-color-amber;
  }
}

.buttons-container {
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include alignment.grid-alignment-center;

  margin-top: spacing.calc-vertical-margin(spacing.$vertical-margin-medium);

  text-align: center;

  @include breakpoint.for-phone-only {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    font-size: font.calc-font-size(font.$font-size-8);
  }

  @include breakpoint.for-tablet-portrait-up {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    font-size: font.calc-font-size(font.$font-size-4);
  }

  @include breakpoint.for-tablet-landscape-up {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    font-size: font.calc-font-size(font.$font-size-6);
  }

  @include breakpoint.for-4k-up {
    font-size: font.calc-font-size(font.$font-size-8);
  }
}

.replace-main-civ-pool-button,
.add-to-main-civ-pool-button,
.subtract-from-main-civ-pool-button {
  width: 90%;

  @include button.button-base(
    filled-inverse,
    $padding: spacing.$padding-small,
    $box-shadow-size: small
  );
}

.loading-wrapper {
  height: 100%;

  background-color: color.$bg-color-light;
  border-radius: border.$border-radius-medium;
}

.matching-civs {
  flex: 1 1 80%;

  display: grid;

  padding-bottom: spacing.calc-padding(spacing.$padding-large);

  background-color: color.$bg-color-light;
  border-radius: border.$border-radius-medium;

  overflow-y: auto;

  @include breakpoint.for-phone-only {
    grid-template-columns: repeat(5, 1fr);
  }

  @include breakpoint.for-tablet-portrait-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint.for-tablet-landscape-up {
    grid-template-columns: repeat(5, 1fr);
  }

  @include breakpoint.for-4k-up {
    grid-template-columns: repeat(6, 1fr);
  }
}
