@import '../../shared-styles/lib';
@import '../tech-tree-filter/tech-tree-filter';

.staging-civ-pool-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.staging-civ-pool-header {
  background-color: $bg-color-light;
  border-radius: $border-radius-medium;
  padding-bottom: calc-padding($padding-medium);
  margin-bottom: calc-vertical-margin($vertical-margin-medium);
}

.staging-civ-pool-title {
  flex: 1 1 auto;
  text-align: center;
}

.buttons-container {
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include grid-alignment-center;

  text-align: center;

  @include for-phone-only {
    font-size: calc-font-size($font-size-2);
  }

  @include for-tablet-portrait-up {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    font-size: calc-font-size($font-size-4);
  }

  @include for-tablet-landscape-up {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  @include for-4k-up {
    font-size: calc-font-size($font-size-8);
  }
}

.replace-main-civ-pool-button,
.add-to-main-civ-pool-button,
.subtract-from-main-civ-pool-button {
  width: 90%;
  @include button-base(filled-dark);
}

.staging-civ-pool {
  flex: 1 1 80%;

  display: grid;

  padding-bottom: calc-padding($padding-large);

  background-color: $bg-color-light;
  border-radius: $border-radius-medium;

  &.draft-loading {
    grid-template-rows: 1fr 2fr;
    height: 300px;
  }

  &.draft-loaded {
    overflow-y: auto;

    @include for-phone-only {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-tablet-portrait-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-tablet-landscape-up {
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-1080p-up {
      grid-template-columns: repeat(5, 1fr);
    }

    @include for-4k-up {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
