@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import './style-lib';

body {
  margin: 0;
  background-color: $bg-color;
  color: $font-color;
  font-family: 'EB Garamond', serif;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $font-color;
  text-decoration: none;

  &.button {
    padding: calc-padding($padding-medium);

    font-size: 1.2em;
    font-weight: 500;
    text-align: center;

    color: $button-letter-color;
    background-color: $button-bg-color;

    border: $thickness-tiny solid $button-letter-color;

    &:hover {
      color: $button-letter-color-hover;
      background-color: $button-bg-color-hover;
    }

    &:active {
      color: $button-letter-color-active;
      background-color: $button-bg-color-active;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
