@use '~sanitize.css' as sanitize;
@use './lib/color';
@use './lib/font';
@use './lib/spacing';

body {
  margin: 0;
  background-color: color.$bg-color;
  color: font.$font-color;
  font-family: font.$font-family;
  font-size: font.calc-font-size(font.$font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: font.$font-color;
  text-decoration: none;
}

button {
  padding: spacing.calc-padding(spacing.$padding-medium);
  background-color: color.$bg-color;
  color: color.$white;
  border: 0;
  cursor: pointer;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
