@import '~sanitize.css';
@import './lib';

body {
  margin: 0;
  background-color: $bg-color;
  color: $font-color;
  font-family: $font-family;
  font-size: calc-font-size($font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $font-color;
  text-decoration: none;
}

button {
  padding: calc-padding($padding-medium);
  background-color: $bg-color;
  color: $white;
  border: 0;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
