/* GENERAL COLORS */
$bg-color: #181a1b;
$bg-color-lighter: #222426;

$aoe2-letter-color: #d0a061;
$aoe2-numeral-color: #a80b0b;

$aoe2-button-letter-color: #eeb76f;
$aoe2-button-bg-color: #7d0808;
$aoe2-button-letter-hover-color: #f8c27c;
$aoe2-button-bg-active-color: #500505;
$aoe2-button-bg-hover-color: #881313;

/* FONTS */
$font-color: #eee;
$font-size: calc(10px + 1vmin);

/* SPACING */

/* dimensions */
$full-screen-width: 100vw;
$full-screen-height: 100vh;

/* padding */
$base-padding: 4px;

// padding levels
$padding-tiny: 1;
$padding-small: 2;
$padding-medium: 4;
$padding-large: 6;
$padding-giant: 8;
$padding-ludicrous: 10;

@function calc-padding($padding-level) {
  @return $base-padding * $padding-level;
}

/* margins */

// vertical margins
$base-vertical-margin: 4px;

$vertical-margin-tiny: 1;
$vertical-margin-small: 2;
$vertical-margin-medium: 4;
$vertical-margin-large: 6;
$vertical-margin-giant: 8;
$vertical-margin-ludicrous: 10;

@function calc-vertical-margin($vertical-margin-level) {
  @return $base-vertical-margin * $vertical-margin-level;
}

/* BORDERS */
$thickness-tiny: 1px;
$thickness-small: 2px;
$thickness-medium: 4px;

$neutral-light-border: #444;

/* BREAKPOINTS */
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
