/* GENERAL COLORS */
$white: #fff;
$black: #000;

$bg-color: #161616;
$bg-color-light: #2e2e2e;

$primary-color-amber: #ffca28;
$primary-color-amber-dark: #c79a00;
$primary-color-amber-light: #fffd61;
$primary-color-amber-text: black;

$primary-color-red: #7f0000;
$primary-color-red-dark: #4e0000;
$primary-color-red-light: #9a0d0d;
$primary-color-red-text: white;

/* button colors */
$button-letter-color: $primary-color-amber;
$button-letter-color-active: $primary-color-amber-dark;
$button-letter-color-hover: $primary-color-amber-light;
$button-bg-color: $primary-color-red;
$button-bg-color-active: $primary-color-red-dark;
$button-bg-color-hover: $primary-color-red-light;

/* FONTS */
$font-color: $white;
$font-size: calc(10px + 1vmin);

/* SPACING */

/* dimensions */
$full-screen-width: 100vw;
$full-screen-height: 100vh;

/* padding */
$base-padding: 4px;

// padding levels
$padding-tiny: 1;
$padding-small: 2;
$padding-medium: 4;
$padding-large: 6;
$padding-giant: 8;
$padding-ludicrous: 10;

@function calc-padding($padding-level) {
  @return $base-padding * $padding-level;
}

/* margins */

// vertical margins
$base-vertical-margin: 4px;

$vertical-margin-tiny: 1;
$vertical-margin-small: 2;
$vertical-margin-medium: 4;
$vertical-margin-large: 6;
$vertical-margin-giant: 8;
$vertical-margin-ludicrous: 10;

@function calc-vertical-margin($vertical-margin-level) {
  @return $base-vertical-margin * $vertical-margin-level;
}

/* BORDERS */
$border-thickness-tiny: 1px;
$border-thickness-small: 2px;
$border-thickness-medium: 4px;

/* BREAKPOINTS */
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
