/* GENERAL COLORS */
$bg-color: #181a1b;
$aoe2-letter-color: #b88a4f;
$aoe2-numeral-color: #880101;

/* FONTS */
$font-color: #eeeeee;
$font-size: calc(10px + 1vmin);

/* SPACING */

/* dimensions */
$full-screen-width: 100vw;
$full-screen-height: 100vh;

/* padding */
$base-padding: 4px;

// padding levels
$padding-tiny: 1;
$padding-small: 2;
$padding-medium: 4;
$padding-large: 6;
$padding-giant: 8;
$padding-ludicrous: 10;

@function calc-padding($padding-level) {
  @return $base-padding * $padding-level;
}

/* margins */

// vertical margins
$base-vertical-margin: 4px;

$vertical-margin-tiny: 1;
$vertical-margin-small: 2;
$vertical-margin-medium: 4;
$vertical-margin-large: 6;
$vertical-margin-giant: 8;
$vertical-margin-ludicrous: 10;

@function calc-vertical-margin($vertical-margin-level) {
  @return $base-vertical-margin * $vertical-margin-level;
}

/* BORDERS */
$thickness-tiny: 1px;
$thickness-small: 2px;
$thickness-medium: 4px;

$neutral-light-border: #444444;
