@import '../../shared-styles/lib';
@import '../tech-tree-filter/tech-tree-filter';

.tech-tree-filter-options {
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  padding: calc-padding($padding-small);

  border-top: $tech-tree-filter-border-thickness solid
    $tech-tree-filter-border-color;
}

.options-title,
.filter-tags-title {
  margin-bottom: calc-vertical-margin($vertical-margin-large);
}

.tech-tree-filter-mode {
  padding-left: calc-padding($padding-medium);
}

.tech-tree-filter-clear-filter,
.tech-tree-filter-sort {
  padding-left: calc-padding($padding-medium);
  padding-top: calc-vertical-margin($vertical-margin-small);
  padding-bottom: calc-vertical-margin($vertical-margin-medium);
}

.filter-mode-button,
.clear-filter-button {
  @include tech-tree-filter-button;
}

.tech-tree-filter-sort {
  display: flex;
  flex-direction: row;
  width: 100%;

  .sort-text {
    flex: 1 1 20%;
  }

  .sort-dropdown {
    flex: 1 1 80%;

    color: $primary-color-amber;
    background-color: $button-filled-light-bg-color;

    padding: calc-padding($padding-small);

    border: none;
    border-radius: $border-radius-small;

    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }
}
