@import '../../shared-styles/style-lib';

.civ-draft-container {
  display: grid;
  width: $full-screen-width;
  height: 200px;
  justify-content: center;

  border-bottom: $thickness-tiny solid $neutral-light-border;

  grid-template-columns: 1fr 5fr;
}
