@use '../tech-tree-filter';
@use '../../../shared-styles/lib/border';
@use '../../../shared-styles/lib/breakpoint';
@use '../../../shared-styles/lib/button';
@use '../../../shared-styles/lib/color';
@use '../../../shared-styles/lib/font';
@use '../../../shared-styles/lib/spacing';

.tech-tree-filter-options {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;

  background-color: color.$bg-color-light;
  border-radius: border.$border-radius-medium;

  @include breakpoint.for-phone-only {
    padding: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-tablet-portrait-up {
    padding: spacing.calc-padding(spacing.$padding-small);
    font-size: font.calc-font-size(font.$font-size-2);
  }

  @include breakpoint.for-tablet-landscape-up {
    font-size: font.calc-font-size(font.$font-size-4);
  }

  @include breakpoint.for-1080p-up {
    padding: spacing.calc-padding(spacing.$padding-medium);
    font-size: font.calc-font-size(font.$font-size-base);
  }
}

.tech-tree-filter-reset {
  @include breakpoint.for-phone-only {
    padding-left: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-tablet-portrait-up {
    padding-left: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-tablet-landscape-up {
    padding-left: spacing.calc-padding(spacing.$padding-medium);
  }
}

.clear-filter-button {
  @include button.button-base(
    filled-inverse,
    $padding: spacing.$padding-small,
    $box-shadow-size: small
  );
}

.tech-tree-filter-mode {
  @include breakpoint.for-phone-only {
    padding-left: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-tablet-portrait-up {
    padding-left: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-tablet-landscape-up {
    padding-left: spacing.calc-padding(spacing.$padding-medium);
  }

  .filter-mode-button {
    @include tech-tree-filter.tech-tree-filter-button;
  }
}

.tech-tree-filter-mode,
.tech-tree-filter-sort {
  padding-top: spacing.calc-vertical-margin(spacing.$vertical-margin-medium);

  @include breakpoint.for-phone-only {
    padding-left: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-tablet-portrait-up {
    padding-left: spacing.calc-padding(spacing.$padding-small);
  }

  @include breakpoint.for-tablet-landscape-up {
    padding-left: spacing.calc-padding(spacing.$padding-medium);
  }
}

.tech-tree-filter-sort {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  .sort-text {
    flex: 1 1 20%;
  }

  .sort-dropdown {
    flex: 1 1 80%;

    color: color.$primary-color-amber;
    background-color: button.$button-filled-light-bg-color;

    padding: spacing.calc-padding(spacing.$padding-small);

    border: none;
    border-radius: border.$border-radius-small;

    cursor: pointer;

    &:focus {
      outline: 0;
    }

    @include breakpoint.for-tablet-portrait-up {
      font-size: font.calc-font-size(font.$font-size-4);
    }

    @include breakpoint.for-1080p-up {
      font-size: font.calc-font-size(font.$font-size-base);
    }
  }
}
