@import '../../shared-styles/style-lib';

.civ-draft {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;

  border-bottom: $border-thickness-tiny solid $bg-color-light;

  @include for-phone-only {
    grid-template-columns: repeat(3, 1fr);
  }
}
