@import '../../shared-styles/style-lib';

.civ-draft {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;

  border-bottom: $thickness-tiny solid $bg-color-light;
}
