@import '../../shared-styles/lib';

.civ-draft-title,
.civ-draft-tip {
  text-align: center;
}

.civ-draft-title {
  margin-top: calc-vertical-margin($vertical-margin-small);
}

.civ-draft-tip {
  margin-top: -20px;
}

.civ-draft {
  display: grid;
  @include grid-alignment-center;

  &.draft-loading {
    grid-template-rows: 1fr 2fr;
    height: 300px;
  }

  &.draft-loaded {
    @include for-phone-only {
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-tablet-portrait-up {
      grid-template-columns: repeat(9, 1fr);
    }

    @include for-4k-up {
      grid-template-columns: repeat(14, 1fr);
      width: 80%;
      margin: auto;
    }
  }
}
