@import '../../../shared-styles/lib';
@import './tech-tree-item-animations';

$tech-tree-color-unit: #0e7ca1;
$tech-tree-color-tech: #499449;
$tech-tree-color-building: #c65f27;
$tech-tree-color-unique: #9a52a6;

$img-size-mobile: 48px;
$accent-size-mobile: 4px;

$img-size-tablet-portrait-up: 60px;
$accent-size-tablet-portrait-up: 4px;

$img-size-4k-up: 96px;
$accent-size-4k-up: 8px;

$icon-size-mobile: 10px;
$icon-size-medium: 17px;
$icon-size-large: 20px;

.tech-tree-item {
  @include box-shadow($size: $box-shadow-small);
  display: grid;

  position: relative;

  border-radius: $border-radius-medium;

  cursor: pointer;

  @include for-phone-only {
    width: $img-size-mobile + $accent-size-mobile;
    height: $img-size-mobile;
  }

  @include for-tablet-portrait-up {
    width: $img-size-tablet-portrait-up + $accent-size-tablet-portrait-up;
    height: $img-size-tablet-portrait-up;
  }

  @include for-4k-up {
    width: $img-size-4k-up + $accent-size-4k-up;
    height: $img-size-4k-up;
  }

  .tech-tree-item-img {
    border-top-right-radius: $border-radius-medium;
    border-bottom-right-radius: $border-radius-medium;

    @include for-phone-only {
      margin-left: $accent-size-mobile;

      width: $img-size-mobile;
      height: $img-size-mobile;
    }

    @include for-tablet-portrait-up {
      margin-left: $accent-size-tablet-portrait-up;

      width: $img-size-tablet-portrait-up;
      height: $img-size-tablet-portrait-up;
    }

    @include for-4k-up {
      margin-left: $accent-size-4k-up;

      width: $img-size-4k-up;
      height: $img-size-4k-up;
    }
  }

  &.unit {
    background-color: $tech-tree-color-unit;
  }

  &.tech {
    background-color: $tech-tree-color-tech;
  }

  &.building {
    background-color: $tech-tree-color-building;
  }

  &.unique {
    background-color: $tech-tree-color-unique;
  }

  &.enter-unselected {
    @include do-animation(
      enter-unselected,
      $animation-duration-small,
      $timing-fn-enter
    );
  }

  &.enter-selected {
    @include do-animation(
      enter-selected,
      $animation-duration-small,
      $timing-fn-enter
    );
  }

  &.leave-unselected {
    opacity: 0;
    transform: translateY(-$translate-distance) scale(0.5);

    @include do-transition(
      opacity transform,
      $animation-duration-small,
      $timing-fn-leave
    );
  }

  &.leave-selected {
    opacity: 0;
    transform: translateY($translate-distance) scale(0.5);

    @include do-transition(
      opacity transform,
      $animation-duration-small,
      $timing-fn-leave
    );
  }
}

.tech-tree-item-icons-container {
  display: inline-block;

  position: absolute;
  top: 1px;

  width: 100%;

  padding-left: 1px;
  padding-right: 1px;

  .tech-tree-item-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5px;

    .tech-tree-item-age-icon,
    .tech-tree-item-building-icon {
      width: $icon-size-medium;
      height: $icon-size-medium;

      @include for-phone-only {
        width: $icon-size-mobile;
        height: $icon-size-mobile;
      }

      @include for-4k-up {
        width: $icon-size-large;
        height: $icon-size-large;
      }
    }

    .tech-tree-item-age-icon {
      display: flex;
    }

    .tech-tree-item-building-icons {
      display: flex;
      flex-flow: row nowrap;
      gap: 5px;
    }

    .tech-tree-item-building-icon {
      display: flex;
      border-radius: $border-radius-small;
    }
  }
}

.tech-tree-item-name {
  @include grid-item-name;

  @include for-phone-only {
    font-size: calc-font-size($font-size-4);
  }

  @include for-tablet-portrait-up {
    font-size: calc-font-size($font-size-2);
  }

  @include for-1080p-up {
    font-size: calc-font-size($font-size-0);
  }
}
