@import '../../shared-styles/style-lib';

.pick-civ-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;

  width: $full-screen-width;
  height: 200px;
  
  border-bottom: $thickness-tiny solid $neutral-light-border;
}
