@use '../../shared-styles/lib/border';
@use '../../shared-styles/lib/font';

.loading-container {
  width: max-content;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.loading-text {
  font-size: font.calc-font-size(font.$font-size-16);
}

.loading-video {
  height: 200px;

  border-radius: border.$border-radius-medium;
}
