@import '../../shared-styles/style-lib';

.civ-draft-result-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;

  padding: calc-padding($padding-medium);
}
