@use '../../shared-styles/lib/breakpoint';
@use '../../shared-styles/lib/color';
@use '../../shared-styles/lib/font';

footer {
  .credits-title {
    margin-top: 0;
    text-align: center;
  }

  .credits-text {
    width: 80%;

    margin-left: auto;
    margin-right: auto;

    font-size: font.calc-font-size(font.$font-size-4);
    text-align: center;

    @include breakpoint.for-phone-only {
      font-size: font.calc-font-size(font.$font-size-base);
    }
  }

  a {
    text-decoration: underline;
    color: color.$primary-color-amber;
  }
}
