@import '../../shared-styles/lib';

.footer {
  @include for-phone-only {
    margin-top: calc-vertical-margin($vertical-margin-medium);
  }

  @include for-tablet-landscape-up {
    margin-top: calc-vertical-margin($vertical-margin-large);
  }

  @include for-big-desktop-up {
    margin-top: calc-vertical-margin($vertical-margin-giant);
  }

  .credits-title {
    text-align: center;
  }

  .credits-text {
    width: 80%;

    margin-left: auto;
    margin-right: auto;

    font-size: calc-font-size($font-size-tiny);
    text-align: center;

    @include for-phone-only {
      font-size: calc-font-size($font-size-base);
    }
  }

  a {
    text-decoration: underline;
    color: $primary-color-amber;
  }
}
