@import '../../../shared-styles/style-lib';

.draft-civ-button {
  cursor: pointer;
  padding: calc-padding($padding-medium);

  font-size: calc(10px + 1.5vmin);
  font-weight: 500;
  text-align: center;

  color: $button-letter-color;
  background-color: $button-bg-color;

  border-radius: $border-radius-medium;

  &:hover,
  &:active {
    border: $border-thickness-tiny solid $button-letter-color;
  }

  &:hover {
    background-color: $button-bg-color-hover;
  }

  &:active {
    background-color: $button-bg-color-active;
  }

  @include for-phone-only {
    width: 100px;
    height: 20px;
  }

  @include for-tablet-portrait-up {
    width: 250px;
    height: 30px;
  }

  @include for-big-desktop-up {
    width: 200px;
    height: 40px;
  }
}
