@use '../../../shared-styles/lib/border';
@use '../../../shared-styles/lib/breakpoint';
@use '../../../shared-styles/lib/button';
@use '../../../shared-styles/lib/font';
@use '../../../shared-styles/lib/spacing';

.draft-civ-button {
  @include button.button-base(filled-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;

  &:hover {
    border: border.$border-thickness-tiny solid button.$button-border-color;
  }

  @include breakpoint.for-phone-only {
    width: 140px;
    height: 58px;
    font-size: font.calc-font-size(font.$font-size-14);
    margin-top: spacing.calc-vertical-margin(spacing.$vertical-margin-medium);
  }

  @include breakpoint.for-tablet-portrait-up {
    width: 220px;
    height: 65px;
    font-size: font.calc-font-size(font.$font-size-18);
  }

  @include breakpoint.for-1080p-up {
    font-size: font.calc-font-size(font.$font-size-20);
  }

  @include breakpoint.for-4k-up {
    width: 260px;
    height: 80px;
  }
}
