@import '../../shared-styles/style-lib';

.civ-container {
  display: grid;

  justify-content: center;
  justify-items: center;
  align-items: center;

  width: 100%;
  height: 100%;

  margin: calc-padding($padding-small);
}

.civ-main-content {
  position: relative;
  width: 96px;
  height: 96px;

  background-color: $black;
  border-radius: $border-radius-medium;

  &.drafted {
    margin-top: calc-vertical-margin($vertical-margin-medium);
    margin-bottom: calc-vertical-margin($vertical-margin-medium);
    transform: scale(1.3);

    .civ-tech-tree {
      display: inline-block;
    }
  }

  &.poolable {
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background: linear-gradient($black, rgba($primary-color-red-light, 0.3));

      .civ-tech-tree {
        display: inline-block;
      }
    }

    &.in-pool {
      background: linear-gradient($black, rgba($primary-color-red-light, 0.5));
      transform: scale(1.1);
      border: $border-thickness-tiny solid $primary-color-amber;

      &:hover {
        background-color: $black;
      }
    }
  }
}

.civ-tech-tree {
  display: none;

  position: absolute;
  top: 0px;
  right: 5px;

  font-size: calc(10px + 0.6vmin);
}

.civ-image {
  width: 96px;
  height: 96px;
  text-align: center;
}

.civ-name {
  display: inline-block;

  position: absolute;
  left: 0px;
  bottom: 0px;

  width: 100%;

  font-size: calc(10px + 0.6vmin);
  font-weight: 700;
  text-align: center;

  background-color: rgba($black, 0.6);
}

.civ-image,
.civ-name {
  pointer-events: none;
  touch-action: none;
}
