@import '../../shared-styles/lib';
@import './civ-animations';

.civ-container {
  display: grid;
  @include grid-alignment-center;

  width: 100%;
  height: 100%;

  margin-top: calc-vertical-margin($vertical-margin-medium);

  &.drafted-container {
    margin-top: 0;
  }
}

$civ-unit-image-size: 96px;

.civ-main-content {
  @include box-shadow($isInteractive: false);
  position: relative;
  width: $civ-unit-image-size;
  height: $civ-unit-image-size;

  background-color: $black;
  border-radius: $border-radius-medium;
  border: $border-thickness-tiny solid $border-neutral-color;

  @include do-transition(
    $transition-props,
    $animation-duration-small,
    $timing-fn-default
  );

  &.drafted {
    margin-top: calc-vertical-margin($vertical-margin-medium);
    margin-bottom: calc-vertical-margin($vertical-margin-medium);
    transform: scale(1.3);

    &.highlight-drafted {
      @include do-animation(
        highlight-drafted-civ,
        $animation-duration-large,
        $timing-fn-enter
      );
    }
  }

  &.poolable {
    $civ-bg-color-primary-30: rgba($primary-color-red-light, 0.3);
    $civ-bg-color-primary-50: rgba($primary-color-red-light, 0.5);
    $civ-bg-color-base: $black;

    &.draftable {
      @include box-shadow;

      &:hover {
        cursor: pointer;
        background: linear-gradient(
          $civ-bg-color-base,
          $civ-bg-color-primary-30
        );
        transform: scale(1.1);
      }

      &.in-pool:hover {
        background-color: $civ-bg-color-base;
      }
    }

    &.in-pool {
      border: $border-thickness-medium solid $primary-color-amber;
      background: linear-gradient($civ-bg-color-base, $civ-bg-color-primary-50);
      box-shadow: 0px 0px $box-shadow-hover 0 $shadow-color,
        0 0 $box-shadow-tiny $primary-color-amber;
      transform: scale(1.1);
    }
  }
}

.civ-tech-tree {
  display: inline-block;

  position: absolute;
  top: 5px;
  right: 5px;

  font-size: calc-font-size($font-size-0);

  img {
    width: 25px;
    height: 25px;

    @include do-transition(
      transform,
      $animation-duration-small,
      $timing-fn-default
    );

    &:hover {
      transform: scale(1.1);
    }
  }
}

.civ-unit-image,
.civ-name {
  pointer-events: none;
  touch-action: none;
}

.civ-unit-image {
  width: $civ-unit-image-size;
  height: $civ-unit-image-size;
  text-align: center;
}

.civ-name {
  display: inline-block;

  position: absolute;
  left: 0px;
  bottom: 0px;

  width: 100%;

  font-weight: 700;
  text-align: center;

  background-color: rgba($black, 0.6);

  border-radius: $border-radius-medium;

  @include for-phone-only {
    font-size: calc-font-size($font-size-12);
  }

  @include for-tablet-landscape-up {
    font-size: calc-font-size($font-size-8);
  }

  @include for-1080p-up {
    font-size: calc-font-size($font-size-2);
  }
}
