@use './snackbar-animations';
@use '../../shared-styles/lib/alignment';
@use '../../shared-styles/lib/animation';
@use '../../shared-styles/lib/border';
@use '../../shared-styles/lib/box-shadow';
@use '../../shared-styles/lib/color';
@use '../../shared-styles/lib/spacing';

.snackbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snackbar {
  display: grid;
  grid-template-columns: 9fr 1fr;
  @include alignment.grid-alignment-center;

  position: fixed;
  bottom: 25px;

  padding: spacing.calc-padding(spacing.$padding-small);
  min-width: 10vw;
  max-width: 90vw;

  background-color: color.$black;
  border-radius: border.$border-radius-large;

  @include box-shadow.box-shadow(box-shadow.$box-shadow-large, false);

  .message {
    display: inline;
    padding: spacing.calc-padding(spacing.$padding-small);
  }

  .dismiss {
    display: inline;
    padding-right: spacing.calc-padding(spacing.$padding-small);
    cursor: pointer;
  }

  &.show {
    @include animation.do-animation(
      show-snackbar,
      animation.$animation-duration-small,
      animation.$timing-fn-default
    );
  }
}
