@use '../tech-tree-filter';
@use '../../../shared-styles/lib/alignment';
@use '../../../shared-styles/lib/border';
@use '../../../shared-styles/lib/breakpoint';
@use '../../../shared-styles/lib/color';
@use '../../../shared-styles/lib/font';
@use '../../../shared-styles/lib/spacing';

.tech-tree-filter-search {
  display: grid;
  grid-template-columns: 1fr;
  @include alignment.grid-alignment-center;

  position: relative;

  padding: spacing.calc-padding(spacing.$padding-small);

  background-color: color.$bg-color-light;
  border-radius: border.$border-radius-medium;
}

.search-input {
  width: 80%;
  height: 50px;

  color: color.$white;
  background-color: color.$black;

  font-size: font.calc-font-size(font.$font-size-8);

  padding: spacing.calc-padding(spacing.$padding-small);

  border: none;
  border-radius: border.$border-radius-medium;

  &:focus {
    outline: 0;
    border: border.$border-thickness-tiny solid border.$border-primary-color-amber;
  }

  &::placeholder {
    color: color.$white;
    opacity: 0.75;
  }
}

.clear-search {
  position: absolute;
  color: color.$grey;
  cursor: pointer;

  @include breakpoint.for-phone-only {
    right: 15%;
  }

  @include breakpoint.for-tablet-portrait-up {
    right: 18%;
  }

  @include breakpoint.for-tablet-landscape-up {
    right: 15%;
  }
}
