@import '../../shared-styles/style-lib';

.top-app-bar {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  width: $full-screen-width;
  height: 72px; // TODO: needs further adjusting and turn into variable
}

.logo-container {
  width: max-content;
}

.logo {
  color: $primary-color-amber;

  .numeral {
    color: $primary-color-red-light;
  }
}
