@import '../../shared-styles/lib';
@import './tech-tree-item-animations';

$tech-tree-color-unit: #00455c;
$tech-tree-color-tech: #234623;
$tech-tree-color-building: #79340f;
$tech-tree-color-unique: #4a2750;

$img-size: 96px;
$accent-size: 8px;

.tech-tree-item {
  @include box-shadow($size: $box-shadow-tiny);
  display: grid;

  position: relative;
  margin-bottom: calc-vertical-margin($vertical-margin-large);

  width: calc($img-size + $accent-size);
  height: $img-size;

  border-radius: $border-radius-medium;

  cursor: pointer;

  @include for-tablet-portrait-up {
    font-size: calc-font-size($font-size-8);
  }

  @include for-4k-up {
    font-size: calc-font-size($font-size-4);
  }

  img {
    margin-left: $accent-size;

    width: $img-size;
    height: $img-size;

    border-top-right-radius: $border-radius-medium;
    border-bottom-right-radius: $border-radius-medium;
  }

  &.unit {
    background-color: $tech-tree-color-unit;
  }

  &.tech {
    background-color: $tech-tree-color-tech;
  }

  &.building {
    background-color: $tech-tree-color-building;
  }

  &.unique {
    background-color: $tech-tree-color-unique;
  }

  &.enter-unselected {
    @include do-animation(
      enter-unselected,
      $animation-duration-small,
      $timing-fn-enter
    );
  }

  &.enter-selected {
    @include do-animation(
      enter-selected,
      $animation-duration-small,
      $timing-fn-enter
    );
  }

  &.leave-unselected {
    opacity: 0;
    transform: translateY(-$translate-distance) scale(0.5);

    @include do-transition(
      opacity transform,
      $animation-duration-small,
      $timing-fn-leave
    );
  }

  &.leave-selected {
    opacity: 0;
    transform: translateY($translate-distance) scale(0.5);

    @include do-transition(
      opacity transform,
      $animation-duration-small,
      $timing-fn-leave
    );
  }
}

.tech-tree-item-name {
  display: inline-block;

  position: absolute;
  left: 0px;
  bottom: 0px;

  width: 100%;

  font-weight: 700;
  font-size: calc-font-size($font-size-0);
  text-align: center;

  background-color: rgba($black, 0.6);
}
